.homepage{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    position: fixed;
    /* background-color: pink; */
}
.book-text-homepage{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.book-img-homepage{
    width: 50vw;
    height: max-content;
    /* background-color: pink; */
    /* object-fit: cover; */
}