
.LoginPage {
    width: 100vw;
    height: 90vw;
    background-color: #fdf4e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  
  .LoginBackground {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0vw 0vw 2vw 2vw;
    background-color: black;
  }
  
  .LoginBackground h1 {
    width: 100%;
    height: max-content;
    color: white;
    font-size: 1.7vw;
    font-weight: 500;
    text-align: center;
    padding: 2vw 0;
  }
  
  .LoginContent {
    background-color: white;
    width: 40%;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    position: relative;
    top:-6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .LoginContent form {
    display: flex;
    gap: 2vw;
    flex-direction: column;
    width: 100%;
  }
  
  .LoginContent input[type="text"],
  .LoginContent input[type="password"] {
    width: 100%;
    padding: 0.8vw;
    border: 1px solid #ccc;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  
  .LoginContent input[type="text"]:focus,
  .LoginContent input[type="password"]:focus {
    border-color: #fb9d06;
    outline: none;
  }
  
  .LoginContent button[type="submit"] {
    width: 100%;
    padding: 1vw;
    border: none;
    border-radius: 0.3vw;
    background-color: #333;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
  }
  
  .LoginContent button[type="submit"]:hover {
    background: -webkit-linear-gradient(.40turn, #fa6d6d, #ff7e5f, #ffae4f, #fcb045);
  }
  