/* Form Container */
.LoginForm-page {
  width: 100vw;
  height: 90vh;
  background-color: black;
  /* background: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.formbox {
  width: 30%;
  height: max-content;
  background-color: white;
  padding: 2.5vw;
  border-radius: 0.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
}

/* Title */
#title {
  font-size: 1.8vw;
  font-weight: 500;
  color: #333;
  margin-bottom: 2vw;
}

/* Input Group */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  margin-bottom: 2vw;
}

/* Input Field */
.input-field {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  padding: 0.8vw;
  border: 1px solid #ccc;
  border-radius: 0.3vw;
  background-color: #f9f9f9;
}

.input-field i {
  color: #333;
  font-size: 1.2vw;
}

.input-field input {
  border: none;
  outline: none;
  font-size: 1.1vw;
  width: 100%;
  /* background: violet; */
  background: transparent;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
}

.input-field input:focus {
  border-color: #67a4ff;
}

/* Forgot Password */
p {
  font-size: 1vw;
  color: #333;
}

p a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 500;
}

p a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn-field {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
}

.btn-field button {
  background: linear-gradient(to bottom right, #EF4765, #ffc35a);
  border: 0;
  width: 100%;
  border-radius: 0.3vw;
  color: white;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 2.5;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.btn-field button.disable {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-field button:not(.disable):hover {
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2), -0.15vw -0.15vw 1vw rgba(239, 71, 101, 0.5), 0.15vw 0.15vw 1vw rgba(255, 154, 90, 0.5);
}

.btn-field button:not(.disable):focus {
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.2), -0.15vw -0.15vw 1vw rgba(239, 71, 101, 0.5), 0.15vw 0.15vw 1vw rgba(255, 154, 90, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
  .formbox {
    width: 80%;
  }

  #title {
    font-size: 2vw;
  }

  .input-field i {
    font-size: 1.5vw;
  }

  .input-field input {
    font-size: 1.3vw;
  }

  .btn-field button {
    font-size: 1.5vw;
  }
}
