*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  margin: 0;
  width: 100vw; 
  height:100vh;
  background-color: black;
  /* padding: 2vw 5vw; */
  /* border: solid 5vw white; */
}
.App-getbook{
  background-color: red;
  width: 100%;
  height: 100%;
}
